<!-- <div class="header" style="background-color: white;">
  <ion-toolbar color="secondary"> -->
  <div  class="rond">
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-title>Ajout Restaurant</ion-title>
    </ion-buttons>
      </div>
  <!-- </ion-toolbar>
</div> -->
  
  <ion-content color="colorgris">
    
  <div class="container">
   
      <label class="item item-input">
        <input type="text" placeholder="Nom">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="heure ouverture">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="heure fermeture">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="longitude">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="latitude">
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="contact">
      </label>
      <label class="item item-input">
        <textarea type="text" placeholder="Description"></textarea>
      </label>
    
  <h6 style="font-weight: bold;"> place image</h6>
  <p style="font-size: small; color: #757575;">Ajouter les images de votre restaurant</p>
    <ion-button class="pressimg" color="colorgreen"  fill="outline" shape="round" > <ion-icon name="camera-outline"></ion-icon>Ajouter image</ion-button>
   
    <div style="display: flex; justify-content: left; ">
      <ion-button class="pressback" color="danger"  shape="round" >Cancel</ion-button>
      <ion-button  class="presslog" fill="clear"  shape="round" >Soumettre</ion-button>
    </div>
    </div>
    
   
  </ion-content>
  