<div class="header">
  <ion-toolbar color="colorgreen">
    <ion-title>panier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<ion-content color="colorgris" >

  <ion-grid fixed>
    <ion-row>
      <ion-col  *ngFor="let item of panier" ion-col size="11" sizeMd="4" sizeLg="4"  class="modify-grid">
        <h5>{{item.nom}}</h5>
        <div class="container">
        <ion-img src="{{item.image}}" style="width: 120px;" ></ion-img>
        <p>{{item.quantite}}</p>
      </div>
      <h6>{{item.prix}}FCFA</h6>
      </ion-col>
      
    </ion-row>
  </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="11" style="background-color: #f6f6f7;">
          <div class="price">
          <p> Total</p>
          <p>prix</p>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="11" class="modify-grid1">
      <button ion-button style="width: 100%; background-color: #79dc21; color: white; font-weight: bold;">Valider</button>  
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
