<div class="header" style="background-color: #f6f6f7;">
  <ion-toolbar color="colorgreen">
    <ion-title>panier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<ion-content color="colorgris" >

  <ion-grid fixed>
    <ion-row >
      <ion-col  *ngFor="let item of panier" ion-col size="12" size-md="4" size-lg="1"  class="modify-grid">
        <div class="container">
          <div style="height: 100px; width: 500px; margin-top: -3px; margin-left: 5px;">
          <ion-img src="{{item.image}}"></ion-img> 
        </div>
        <div class="principal">
          <h5>{{item.nom}}</h5>
        <p >{{item_qty}} Plats</p>
     <div class="prix">
        <div  class = "incrdecre">
            <ion-button (click)="onSub()"  fill="clear"  style="color:black" size="small">
              <ion-icon slot="start" name="remove-outline"></ion-icon>
            </ion-button>
            <ion-label style="margin-top: 10px;">{{item_qty}}</ion-label>
            <ion-button (click)="onAdd()" fill="clear" style="color:black" size="small">
              <ion-icon slot="end" name="add-outline"></ion-icon>
            </ion-button>
        </div>
        <h6>{{item.prix}}FCFA</h6>
    </div>
  </div>
</div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
    
  <div class="price">
  <p> Total</p>
  <p>prix</p>
</div>

  <ion-button  color="colorgreen" expand="block" style="background-color: #79dc21">Valider</ion-button>

</ion-content>
