<div class="header">
  <ion-toolbar color="colorgreen">
    <ion-title>panier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<ion-content color="colorgris" >

  <ion-grid fixed>
    <ion-row>
      <ion-col  *ngFor="let item of panier" ion-col size="12" size-md="4" size-lg="1"  class="modify-grid">
        <h5>{{item.nom}}</h5>
        <div class="container">
        <ion-img src="{{item.image}}" style="width: 120px;" ></ion-img>
        <p>{{item.quantite}} Plats</p>
      </div>
      <div class="subAddContain">
      <div class="subAdd">
      <ion-button (click)="onSub()" color="colorgris"  size="small" style="background-color: #f6f6f7; color: black;" >
        <ion-icon name="remove-outline" ></ion-icon>
      </ion-button>
      <span>{{item_qty}}</span>
      <ion-button  ion-button  (click)="onAdd()" color="colorgris" expand="block" size="small"  style="background-color: #f6f6f7; color: black;" >
        <ion-icon name="add-outline" ></ion-icon>
      </ion-button>
    </div>
      <h6>{{item.prix}}FCFA</h6>
    </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size="11" style="background-color: #f6f6f7;">
          <div class="price">
          <p> Total</p>
          <p>prix</p>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  <div class="price" style="background-color: #f6f6f7;">
  <p> Total</p>
  <p>prix</p>
</div>

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="11" class="modify-grid1">
      <button ion-button style="width: 100%; background-color: #79dc21; color: white; font-weight: bold;">Valider</button>  
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-button  color="colorgreen" expand="block" style="background-color: #79dc21">Valider</ion-button>

</ion-content>
