<ion-toolbar>
<div  class="rond">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <!-- <ion-title>login</ion-title> -->
  </div>
</ion-toolbar>

<ion-content color="colorgris">
<ion-img></ion-img>
<div class="container">
  <ion-item>
    <ion-label  color="colorgreen" position="floating" style="font-size: large;" >
    
      Nom</ion-label>
    <ion-input label="text input" type="text"  clearInput="true" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="colorgreen" style="font-size: large;" position="floating">

      Mot de Passe</ion-label>
    <div class="showPasswd" >
    <ion-input color="colorgreen" label="password input" type="password" labelPlacement="stacked" ></ion-input>
    <button  class="visibilityPwd" fill="clear" icon-only  type="button" (click)="showPasswdText">
      <ion-icon *ngIf="!showPasswdText" name="eye"></ion-icon>
      <ion-icon *ngIf="showPasswdText" name="eye"></ion-icon>
    </button>
  </div>
  </ion-item>
  
    <ion-button fill="clear" class="forgetpwd"> mot de passe oublié?</ion-button>
   
    <ion-button class="presslog" color="colorgreen" expand="block" >Login</ion-button>
    <div class="containSign" >
   <span >New here?</span> 
   <ion-button class="signup"  fill="clear">Sign Up </ion-button>
  </div>
  </div>
  
  <div class="rond1"></div>
</ion-content>
